@model DefensieTrainer.WebApp.Models.DashboardViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2em;
        }

        p {
            margin-bottom: 10px;
            text-align: center;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>@HttpContextAccessor.HttpContext.User.Identity.Name!</h1>

        <div>
            <p><strong>Cluster:</strong> @Model.UserClusterId</p>
        </div>

        <div>
            <h2>Training Information</h2>
            <p><strong>Total amount of trainings:</strong> @Model.AmountOfCompletedTrainings</p>
            <p><strong>Latest Training:</strong> @Model.LatestFinishedTraining.ToShortDateString()</p>
            <p><strong>Deadline:</strong> @Model.UserDeadline.ToShortDateString()</p>
        </div>
    </div>
</body>
</html>
