@model DefensieTrainer.WebApp.Models.NextTrainingForUserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Latest Training</title>
</head>
<body>
    <h1>Latest Training</h1>
    <div>
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <ul>
            <li>Amount: @Model.Amount</li>
            <li>Meters: @Model.Meters</li>
            <li>Sort Training: @Model.SortTraining</li>
            <li>Time in Seconds: @Model.TimeInSeconds</li>
        </ul>
    </div>
</body>
</html>
